---
layout: layout.html
title: Dastonia — Metalcore from Bern
---

{% include "sections/home.html" %}

<!-- ============ BIO ============ -->
{% include "sections/about.html" %}

<!-- ============ PHOTOS ============ -->
{% include "sections/photos.html" %}

<!-- ============ MUSIC ============ -->
{% include "sections/music.html" %}

<!-- ============ SHOWS ============ -->
{% include "sections/live.html" %}

<!-- ============ PRESS / BOOKERS ============ -->
{% include "sections/press.html" %}

<!-- ============ CONTACT ============ -->
{% include "sections/contact.html" %}
